.list-card{
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    float: none;
    width: 85%;
    margin: 0 auto;
}
.list-card-item{
    height: 1.5rem;
    font-size: 0.4rem;
}
.list-card-item-title{
    display: inline-block;
    line-height: 1.5rem;
}
.list-card-item-gonext{
    font-size: 0.4rem;
    display: inline-block;
    line-height: 1.5rem;
    position: absolute;
    right: 0;
}